<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <h1>Level {{level}} {{race}} {{job}} {{background}}</h1>
        <p><b>Proficiency Bonus: </b>+{{barbTable[level].profBonus}}</p>
        <p><b>Hit Points: </b>{{level}}{{jobStats.hitDice}} + {{level * raceStats.conMod}}</p>
        <p><b>Armor Proficiencies: </b><br>
        {% for x in jobStats.armorProf %}
            {{x}}<br>
        {% endfor %}
        {% for x in raceStats.armorProf %}
            {{x}}<br>
        {% endfor %}
        </p>
        <p><b>Weapon Proficiencies: </b><br>
        {% for x in jobStats.weaponProf %}
            {{x}}<br>
        {% endfor %}
        {% for x in raceStats.weaponProf %}
            {{x}}<br>
        {% endfor %}
        </p>
        <p><b>Tool Proficiencies: </b><br>
        {% for x in jobStats.toolProf %}
            {{x}}<br>
        {% endfor %}
        {% for x in raceStats.toolProf %}
            {{x}}<br>
        {% endfor %}
        </p>
        <p><b>Skill Proficiencies: </b><br>
        {% for x in jobStats.skillProf %}
            {{x}}<br>
        {% endfor %}
        {% for x in raceStats.skillProf %}
            {{x}}<br>
        {% endfor %}
        </p>
        <p><b>Saving Throws: </b><br>
        {% for x in jobStats.savingThrows %}
            {{x}}<br>
        {% endfor %}
        </p>
        <p><b>Modifiers: </b><br>
        Strength Modifier: +{{raceStats.strMod}}<br>
        Dexterity Modifier: +{{raceStats.dexMod}}<br>
        Constitution Modifier: +{{raceStats.conMod}}<br>
        Intelligence Modifier: +{{raceStats.intMod}}<br>
        Wisdom Modifier: +{{raceStats.wisMod}}<br>
        Charisma Modifier: +{{raceStats.chaMod}}<br>
        
        <p><b>Features: </b><br>
        {% if job == "Barbarian" %}
                {% for x in range(1, level + 1) %}
                    {% for y in barbTable[x].features %}
                        {{y}}<br>
                    {% endfor %}
                {% endfor %}
        {% elif job == "Bard" %}
            {% for x in range(1, level + 1) %}
                {% for y in bardTable[x].features %}
                    {{y}}<br>
                {% endfor %}
            {% endfor %}
        {% endif %}
        
        {% for x in raceStats.raceTraits %}
            {{x[0]}}<br>
        {% endfor %}
        
        {{backStats.feature}}
        </p>
        <p><b>Languages: </b><br>
        {% for x in raceStats.languages %}
            {{x}}<br>
        {% endfor %} 
        
        {{backStats.languages}}
        </p>
        
        <p><b>Equipment: </b><br>
        {% for x in jobStats.equipment %}
            {{x}}<br>
        {% endfor %} 
        {% for x in backStats.equipment %}
            {{x}}<br>
        {% endfor %} 
        
        
        <h2>Race Features: </h2>
        
        {% for x in raceStats.raceTraits %}
            <h3><b>{{x[0]}}</b></h3>
            <p>{{x[1]}}</p>
            {% if x[0] == "Draconic Ancestry" %}
                <table>
                    <tr>
                        <th>Dragon</th>
                        <th>Damage Type</th>
                        <th>Breath Weapon</th>
                    </tr>
                    <tr>
                        <td>Black</td>
                        <td>Acid</td>
                        <td>5 by 30 ft. line (Dex. save)</td>
                    </tr>
                    <tr>
                        <td>Blue</td>
                        <td>Lightning</td>
                        <td>5 by 30 ft. line (Dex. save)</td>
                    </tr>
                    <tr>
                        <td>Brass</td>
                        <td>Fire</td>
                        <td>5 by 30 ft. line (Dex. save)</td>
                    </tr>
                    <tr>
                        <td>Bronze</td>
                        <td>Lightning</td>
                        <td>5 by 30 ft. line (Dex. save)</td>
                    </tr>
                    <tr>
                        <td>Copper</td>
                        <td>Acid</td>
                        <td>5 by 30 ft. line (Dex. save)</td>
                    </tr>
                    <tr>
                        <td>Gold</td>
                        <td>Fire</td>
                        <td>15 ft. cone (Dex. Save)</td>
                    </tr>
                    <tr>
                        <td>Green</td>
                        <td>Poison</td>
                        <td>15 ft. cone (Con. Save)</td>
                    </tr>
                    <tr>
                        <td>Red</td>
                        <td>Fire</td>
                        <td>15 ft. cone (Dex. Save)</td>
                    </tr>
                    <tr>
                        <td>Silver</td>
                        <td>Cold</td>
                        <td>15 ft. cone (Con. Save)</td>
                    </tr>
                    <tr>
                        <td>White</td>
                        <td>Cold</td>
                        <td>15 ft. cone (Con. Save)</td>
                    </tr>
                </table>
            {% endif %}
        {% endfor %} 
        <h3><b>{{backStats.feature}}</b></h3>
        <p>{{backStats.featureDesc}}</p>
        
        
        <br>
        
        <h2><b>Class Features</b></h2>
        {% if job == "Barbarian" %}
            <table>
            <tr>
                <th>Level</th>
                <th>Proficiency Bonus</th>
                <th>Features</th>
                <th>Rages</th>
                <th>Rage Damage</th>
            </tr>
            {% for x in range(1, 21) %}
                <tr>
                    <td>{{x}}</td>
                    <td>
                        +{{barbTable[x].profBonus}}
                    </td>
                    <td>
                        {% for y in barbTable[x].features %}
                            {{y}}<br>
                        {% endfor %}
                    </td>
                    <td>{{barbTable[x].rages}}</td>
                    <td>+{{barbTable[x].rageDamage}}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if job == "Bard" %}
            <table>
            <tr>
                <th rowspan="2">Level</th>
                <th rowspan="2">Proficiency Bonus</th>
                <th rowspan="2">Features</th>
                <th rowspan="2">Cantrips Known</th>
                <th rowspan="2">Spells Known</th>
                <th colspan="9">Spell Slots Per Spell Level</th>
            </tr>
            <tr>
                <th>1st</th>
                <th>2nd</th>
                <th>3rd</th>
                <th>4th</th>
                <th>5th</th>
                <th>6th</th>
                <th>7th</th>
                <th>8th</th>
                <th>9th</th>
            </tr>
            {% for x in range(1, 21) %}
                <tr>
                    <td>{{x}}</td>
                    <td>
                        +{{bardTable[x].profBonus}}
                    </td>
                    <td>
                        {% for y in bardTable[x].features %}
                            {{y}}<br>
                        {% endfor %}
                    </td>
                    <td>{{bardTable[x].cantripsKnown}}</td>
                    <td>{{bardTable[x].spellsKnown}}</td>
                    <td>{{bardTable[x].levelOneSlots}}</td>
                    <td>{{bardTable[x].levelTwoSlots}}</td>
                    <td>{{bardTable[x].levelThreeSlots}}</td>
                    <td>{{bardTable[x].levelFourSlots}}</td>
                    <td>{{bardTable[x].levelFiveSlots}}</td>
                    <td>{{bardTable[x].levelSixSlots}}</td>
                    <td>{{bardTable[x].levelSevenSlots}}</td>
                    <td>{{bardTable[x].levelEightSlots}}</td>
                    <td>{{bardTable[x].levelNineSlots}}</td>
                    
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        
        {% for x in jobStats.classTraits %}
            <h3>{{x[0]}}</h3>
            {% autoescape false %}
                <p>{{x[1]}}</p>
            {% endautoescape %}
        {% endfor %} 
        
        <p><b>Hit Dice:</b> {{jobStats.hitDice}}</p>
        <p><b>Armor Proficiencies:</b> {{jobStats.armorProf}}</p>
        <p><b>Weapon Proficiencies</b>: {{jobStats.weaponProf}}</p>
        <p><b>Tool Proficiencies</b>: {{jobStats.toolProf}}</p>
        <p><b>Saving Throw Proficiencies</b>: {{jobStats.savingThrows}}</p>
        <p><b>Skill Proficiencies</b>: {{backStats.skillProf}}, {{jobStats.skillProf}}</p>
        <br>
        <p>Additional Skill Proficiencies: {{backStats.skillProf}}</p>
        <p>Additional Languages: {{backStats.languages}}</p>
        <p>Additional Equipment: {{backStats.equipment}}</p>
        <p>Background Feature: {{backStats.feature}}</p>
        <p>Background Feature Description: {{backStats.featureDesc}}</p>
    </body>
</html>