<html>
    <head>
        <title>DND!</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <h1>THIS WEBSITE HELPS BUILD DND CHARACTERS!</h1>
        <p>WWOOWOOWOOWWOe</p>
        <form action = '/class_select' method = 'post'>
            <input list="races" name="race">
            <datalist id="races">
                <option value = "Dragonborn">
                <option value = "Hill Dwarf">
                <option value = "Wood Elf">
                <option value = "High Elf">
                <option value = "Deep Gnome">
                <option value = "Tiefling">
                <option value = "Half-Orc (Mark of Finding)">
            </datalist>
            <input list="classes" name="job">
            <datalist id="classes">
                <option value = "Barbarian">
                <option value = "Bard">
            </datalist>
            <input list="backgrounds" name="background">
            <datalist id="backgrounds">
                <option value = "Acolyte">
            </datalist>
            <input type="number" name="level" min="1" max="20" />
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>